<div *ngIf="loading" class="text-center py-5">
    <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;">
        <span class="visually-hidden">Loading...</span>
    </div>
    <p class="mt-2 lead">Processing requast, please wait...</p>
</div>


<div *ngIf="error && !loading">
    <div class="alert alert-danger d-flex align-items-center shadow-sm" role="alert">
        <div>
            <h4 class="alert-heading">Oops! Something went wrong.</h4>
            <p>{{ errorMessage }}</p>
        </div>
    </div>
    <mat-dialog-actions align="end">

        <button mat-button (click)="dialogRef.close()">Close</button>
    </mat-dialog-actions>
</div>

<div *ngIf="!loading && !error">
    <h3 class="text text-danger text-bold " mat-dialog-title>Delete Book - {{ book.title }}</h3>
    <mat-dialog-content>
        <mat-card>
            <mat-card-content>
                <p><strong>ID:</strong> {{ book.id }}</p>
                <p><strong>Description:</strong> {{ book.description }}</p>
                <p><strong>Pages:</strong> {{ book.pages }}</p>
                <p><strong>Price:</strong> {{ book.price }}</p>
                <p><strong>Language:</strong> {{ book.language }}</p>
                <p><strong>Author:</strong> {{ book.author }}</p>
                <p><strong>Publisher:</strong> {{ book.publisher }}</p>
                <p><strong>Categories:</strong></p>
                <div *ngFor="let cat of book.splitedCategories">
                    <mat-chip color="primary">{{ cat }}</mat-chip>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-dialog-content>

    <mat-dialog-actions align="end">

        <button class="text-danger" mat-button (click)="deleteBook(book.id)">Delete</button>
        <button mat-button (click)="dialogRef.close()">Close</button>
    </mat-dialog-actions>
</div>